{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    
    <div class="media-body">
      <div class="article-metadata">
    <h2>About Website</h2>
    
    </div>
    <p>Hello Everybody, I'm Madhusudan It is my first web application and it is my aim, desire to build a small web application before my Masters so here is my work. 
         To be honest I build it using Youtube, Google and with little bit of my knowledge. I like to thank my laptop for its support...... </p>
    </div>
    </article>
    <small class="text-muted">Contact Me: madhusudhanguptha98@gmail.com</small>

{% endblock content %}